@charset "utf-8";
#page{width:100%;height:auto;}
.wrap{ margin: 0 auto;text-align: left;width: 1024px;position:relative;}

#nav{position: fixed;
z-index: 10001;
top: 0;
right: 0;
left: 0;
height: 38px;
background-color:#fff;
opacity:0.9;
border-bottom: 1px solid #E0DEDE;
box-shadow: inset 0 1px white, 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: inset 0 1px white, 0 1px 3px rgba(34, 25, 25, 0.4);}
#nav #nav_logo{width:170px;height:38px;float:left;cursor:pointer;opacity:1;}
#nav #nav_logo a{width:170px;height:38px;background-image: url(../i/logo7.png);background-repeat:no-repeat;display:block; background-position: -60px 1px;opacity:1;}
#nav #nav_menubar{width:350px;float:left;}
#nav #nav_menubar div
{width:57px;
height: 28px;
line-height: 28px;
border: 1px solid #EEE;
border-width: 0 1px;
font-size: 12px;
position: relative;
margin-right: -1px;
margin-top: 6px;
float: left;
overflow:hidden;
}
#nav #nav_menubar a{left:-57px;}
#nav #nav_menubar a.nav_1{background-position:0px -71px;}
#nav #nav_menubar a.nav_1_c{background-position:0px -381px;}
#nav #nav_menubar a.nav_2{background-position:0px -381px;}
#nav #nav_menubar a.nav_2_c{background-position:0px -381px;}
#nav #nav_menubar a.nav_3{background-position:0px -622px;}
#nav #nav_menubar a.nav_3_c{background-position:0px -622px;}
#nav #nav_menubar a.nav_4{background-position:0px -441px;}
#nav #nav_menubar a.nav_4_c{background-position:0px -441px;}
#nav #nav_menubar a.nav_5{background-position:0px -866px;}
#nav #nav_menubar a.nav_5_c{background-position:0px -866px;}

#nav #nav_menubar div:hover1{background:#f2f2f2;color:#5cca2f;}
#nav #nav_menubar a{background-image: url("../i/bg_nav.png");color:#5cca2f;
background-repeat:no-repeat; padding-left:57px; display: block;height: 38px;width:57px;text-decoration: none!important;position:absolute;top:0px; text-align:center;background-position:0px -5px;}
#nav #nav_menubar a p{width:57px;}
#nav #nav_search{  display: inline;
    float: right;
    margin: 5px 10px 0 0;
    position: relative;
    border: 1px solid #C7C7C7;
    border-radius:3px;

    height: 24px;
    }
#nav #nav_search.focus{border:1px solid #04B104;box-shadow: 0px 0px 10px 0px #C6F8BD;}
#nav #nav_search input.input_text{ -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C2C0C0 #CCCACA #D1CFCF;
    border-radius: 5px 0 0 5px;
    border-style: solid;
    border-width: 0px;
    background:none;
    float: left;
    font-size: 13px;
    line-height: 1.3;
    width: 70px;
    padding:3px 10px;
    color:Gray;
    }

#nav #nav_search .input_submit{  -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none; float: left;
    margin-left: -1px;
    min-height: 16px;
    padding: 0px 2px 1px;border:0px;
    background: url("../i/ico_all.png") no-repeat scroll -1152px -48px transparent;  width: 22px;height:20px;}
#nav #nav_search1 a:hover{background-position:-10px -15px;}
#nav #nav_link{width1:150px;height:32px;float:right;margin-top:0px;margin-right:10px;position:relative;overflow:hidden;}
#nav #nav_link .time{position:absolute;top:-10px; display:none;}
#nav #nav_link a{margin-left:0px;color:Gray;float:left;margin:0px 5px;display:block;width:25px;height:25px;background: url("../i/qq.png") no-repeat scroll 0px 0px transparent;margin-top:6px;}
#nav #nav_link a.login_tx{background: url("../i/tx.png") no-repeat scroll 0px 0px transparent;}
#nav #nav_link a.login_qq:hover,#nav #nav_link a.login_tx:hover{background-position:0px -25px;}
#nav .nav_close{background-image: url("../i/nav_x.png");background-position: -24px -68px;cursor: pointer;height: 28px;position: absolute;right: 10px;top: 5px;width: 27px;}
#nav .nav_close:hover{background-position:-24px -39px}
#nav .nav_open{background-image: url("../i/nav_x.png");background-position:-72px 0px;cursor: pointer;height: 80px;position: absolute;right:5px;top:-90px;width: 75px;}
#nav .nav_open:hover{background-position:-72px 0px;}
#nav .nav_light{background-image: url("../i/nav_x.png");background-position:-137px 0px;cursor: pointer;height: 100px;position: absolute;right:20px;top:-100px;width: 60px;}
#nav .nav_light:hover{opacity:1;}
#nav .nav_light.c{background-position:-187px 0px;}
#nav_bg{width:100%;height:39px;}

#header{width:100%;height:auto;z-index: 9999;}

#content{width:100%;min-height:500px;clear:both;position:relative;}

.ico-crumb{background: url("../i/ico-crumb.png") no-repeat scroll 0 2px transparent;padding-left: 16px;}
.crumb li{float:left;height:13px;color:#2C3D5A;}
.crumb li a{color:#5578A7;margin-left:5px;margin-right:5px;}
.crumb li span{color:black;margin-left:5px;margin-right:5px;}

.link {width: 850px;fill: auto;margin: 0px auto;height: 65px;}
.link_n {height: 65px;font-family: Verdana;font-size: 12px;line-height: 65px;color: #D4D4D4;float: left;}
.link_n a {color: #777777;text-decoration:none;-webkit-transition:all 0.3s ease-in-out;text-shadow: 1px 1px 0 white;margin:0px 5px;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.link_n a:hover {text-decoration:none;color: rgb(74, 248, 41);}
.link_button {height: 65px;float: left;background-image1: url(../i/default/links.gif);background-repeat: no-repeat;background-position: left 26px;width: 60px;}
.link_button a {text-decoration:none;display: block;height: 65px;width: 47px;}
.link_button a:hover {text-decoration:none;}

.animate{-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}

#center_cl{width:100%;height:10px;clear:both;}
#footer{width:100%;height:400px;clear:both;background-color: #689F10;}
#footer_bg{width:1024px;height:364px;margin:0px auto;background: url("../i/about.png")}
#footer-content{width:100%;height:80px;background-color:#363636;background-image: url(../i/bg_footer1.jpg);border-top: 1px solid #444;box-shadow: 0px 0px 2px black;}
#footer-info{width:1024px;height:80px;margin:0px auto;}
#footer-info #footer-l{width:400px;height:80px;background: url("../i/logo_bottom.png");float:left;}
#footer-info #footer-r{height:80px;float:right;}
#footer-info #footer-r a{opacity:1;cursor:pointer;height:50px;background: url("../i/bottom-tool1.png") no-repeat;float:left;display:inline-block;margin-top:10px;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
#footer-info #footer-r a:hover{opacity:0.5;}
#footer-info #footer-r a#footer-tx{width:50px;}
#footer-info #footer-r a#footer-mail{width:50px;background-position: -100px 0px;margin-left:10px;}
body{-webkit-animation-name: html_page; -webkit-animation-duration: 500ms; -webkit-animation-timing-function: ease-in-out;}
@-webkit-keyframes html_page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes html_page2 {0% {-webkit-transform:translate(-100%,0px);-moz-transform:translate(-100%,0px);-o-transform:translate(-100%,0px);-safari-transform:translate(-100%,0px);transform:translate(-100%,0px);}
                              100% {-webkit-transform:translate(0px,0px);-moz-transform:translate(0px,0px);-o-transform:translate(0px,0px);-safari-transform:translate(0px,0px);transform:translate(0px,0px);}}