body{background-image: url(../i/bg.png);background-repeat:repeat-x;background-attachment: fixed;}
body.c{background-image: url(../i/bg_back.png);}

#content #photo_content{width:1024px;height:1000px;overflow:hidden;position:relative;}
#content #photo_content #photo_control{width:2048px;height:1000px;position:absolute;top:0px;left:0px;}
#content #photo_content #photo_control #left{float:left;padding-top:10px;width:1024px;position:relative;padding-bottom:20px;overflow:hidden;}
#content #photo_content #photo_control #right{float:left;padding-top:10px;width:1024px;position:relative;}

#photos{padding-top:0px;}
#photos > p { font-family: Microsoft YaHei;color:#5cca2f;font-size:20px;margin-bottom:10px;padding-bottom:5px;border-bottom: 2px solid #5CCA2F;}
#photos ul{width:1019px;height:410px;box-shadow: 0px 5px 15px #BCC5B9;background-color1:green;padding-left:2px;}
#photos ul li{float:left;margin:2px 2px 0px 0px;overflow: hidden;position: relative;}
#photos ul li a{cursor: pointer;display: block;width:202px;height:202px;overflow:hidden;position:relative;}
#photos ul li a img{top:0px;left:0px;position:absolute;}
#photos ul li a div{width:100%;height:100%;position:absolute;top:202px;background-color:Black;opacity:0.7;text-align:center;padding-top:5px;color:White;}

#photos ul li.itme_1_2 a{width:202px;height:405px;}
#photos ul li.itme_1_2 a img{} 
#photos ul li.itme_1_2 a div {top:405px}

#photos ul li.itme_2_1 a{width:405px;height:202px;}
#photos ul li.itme_2_1 a img{} 
#photos ul li.itme_2_1 a div {top:202px;}

#photos ul li.itme_2_2 a{width:405px;height:405px;}
#photos ul li.itme_2_2 a img{} 
#photos ul li.itme_2_2 a div {top:405px;}


#photo_show{padding-top:0px;}
#photo_show > p { font-family: Microsoft YaHei;color:#5cca2f;font-size:20px;margin-bottom:10px;padding-bottom:5px;border-bottom: 2px solid #5CCA2F;}
#photo_show ul{width:100%;height:282px;background-image:url(../i/bg_photo_show.png);background-repeat:no-repeat;}
#photo_show ul li {float:left;margin:0px 0px 0px 27px;overflow: hidden;position:relative;width:300px;height:250px;}
#photo_show ul li a{width:275px;height1:180px;overflow: hidden;position:absolute;top:20px;left:12px;border1:1px solid #bcbcbc;box-shadow: 4px 5px 10px #686868;border-radius: 10px;}
#photo_show ul li a img{width:275px;height:180px;border-radius: 10px;}
#photo_show ul li div.photo_b{width:100%;height:30px;background-image:url(../i/bg_photo_show_item.png);background-repeat:no-repeat;position:absolute;bottom:40px; text-align:center;  border-bottom: 1px solid white;}
#photo_show ul li div.photo_b p{   color: #5CCA2F;font-family: 微软雅黑;font-size: 16px;font-weight: bold;margin-top: 8px;}

#right > p { font-family: Microsoft YaHei;color:#5cca2f;font-size:20px; height: 27px; margin-bottom:10px;padding-bottom:5px;border-bottom: 2px solid #5CCA2F;}
#right > p #photo_back{font-family: Microsoft YaHei;color:#5cca2f;font-size:20px; float: left;text-decoration:underline;}
#right > p #photo_back:hover{color:#5cca2f;opacity:0.7;}


#right #photo_page {left:-5px;top:80px;z-index:1000;position:absolute;}
#right #photo_page a{display:block;font-size:35px;width:50px;height:65px;padding:0px;cursor:pointer;font-weight1:bold;
                    background-image:url(../i/bg_photo_tool.png);background-position:-140px -8px; text-align:center;position:relative;color:White;
                    }
#right #photo_page a:hover{background-position:-190px -8px;}
#right #photo_page a.c{background-position:-237px -8px;}
#right #photo_page a div{font-size:32px;font-family:Gabriola;top:-17px;position: absolute;width:50px;height:55px;margin:0 auto;}
                    
#right #photo_tool {right:0px;top:80px;z-index:1000;display:none;position:absolute;}
#right #photo_tool a{display:block;font-size:12px;width:60px;height:55px;padding:0px;cursor:pointer;
                    background-image:url(../i/bg_photo_tool.png);
                    }
#right #photo_tool a.close{background-position:-5px -5px;}
#right #photo_tool a.next{background-position:-5px -68px;}                  
#right #photo_tool a.prev{background-position:-5px -134px;}   
#right #photo_tool a.comment{background-position:-5px -194px;display:none;}
#right #photo_tool a.close:hover{background-position:-73px -5px;}     
#right #photo_tool a.next:hover{background-position:-73px -68px;}
#right #photo_tool a.prev:hover{background-position:-73px -134px;}
#right #photo_tool a.comment:hover{background-position:-73px -194px;}

#right > p a.share{background-position:-43px 0px;background-image:url(../i/default/login-icon-75.png);width: 28px; height: 28px;border-radius: 3px;float: right;display: inline-block;background-color: whie;border1: 1px solid rgb(238, 238, 238);margin-right: 2px;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
#right > p a.share:hover{opacity:0.5;}
#right > p a.weibo{background-position:-43px -344px;}
#right > p a.tx{background-position:-43px -420px;}
#right > p a.qq{background-position:-43px -228px;}
#right > p a.dou{background-position:-43px -158px;}




#right #photo_list{width:1024px;min-height:550px;position:relative;margin-left:32px;z-index:100;}
#right #photo_list li{ left:400px;top:200px;border1: 1px solid #d0cdcd;text-align: center;position: absolute;z-index:1;
-webkit-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
                       }
#right #photo_list li.x_1{-ms-transform:rotate(-10deg); /* IE 9 */
-moz-transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
-o-transform:rotate(-10deg);
transform:rotate(-10deg);}
#right #photo_list li.x_2{-ms-transform:rotate(10deg);
-moz-transform:rotate(10deg);
-webkit-transform:rotate(10deg);
-o-transform:rotate(10deg);
transform:rotate(10deg);}
#right #photo_list li.x_3{-ms-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
#right #photo_list li.x_4{-ms-transform:rotate(-10deg);
-moz-transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
-o-transform:rotate(-10deg);
transform:rotate(-10deg);}
#right #photo_list li.x_m:hover
{
-ms-transform:scale(1.3,1.3);
-moz-transform:scale(1.3,1.3);
-webkit-transform:scale(1.3,1.3);
-o-transform:scale(1.3,1.3);
transform:scale(1.3,1.3);z-index:10000;
	}
#right #photo_list li img{max-width:190px;max-height:190px;margin:5px;box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.26);border-radius: 5px;cursor:pointer;}
.link{display:none;}