#left{float:left;width:660px;padding:10px;height:auto; min-height:709px;border: 1px solid #303030;margin-top: 25px;}
#right{float:left;width:280px;height:auto;  min-height:500px;margin-left: 20px;}


.info_title h2{display:inline-block;color: #CACACA;font-size: 17px;font-family: 微软雅黑;margin: 5px;text-shadow: 1px 1px 0 black;font-weight: bold;}
.info_title h2 span{display: inline-block;height: 21px;width:25px;background-image: url(../i/ico_all.png);background-position: -102px -95px;}
.info_title h3{font-size: 13px;color: rgb(162, 162, 162);margin: 8px;line-height: 22px;}
.info_title .info_tool{float:right; position:relative;width1:200px;}
.info_title .info_tool > div{display:inline-block;background-repeat: no-repeat;min-width: 71px;padding: 5px 5px 2px;color: rgb(165, 165, 165); text-decoration:none;font: 13px/18px "宋体";border: 1px solid #353535;border-radius: 3px;box-shadow: 1px 1px 5px 0px black;cursor: pointer; position:relative;float:left;margin-left: 3px;}
.info_title .info_tool > div:hover{color:White;box-shadow: 1px 1px 3px 0px black;border-color1:#4E4E4E;}
.info_title .info_tool > div b{background-image: url(../i/ico_all.png);display: inline-block;width: 20px;height: 18px;float: left;margin-right: 5px;}
.info_title .info_tool > div.love b{background-position: -68px -3px;}
.info_title .info_tool > div.love span.num{margin: 0px 5px;font-family: webfont;color: white;font-size: 18px;line-height: 12px;}
.info_title .info_tool > div.share b{background-position: -9985px -102px;}
.info_title .info_tool .tl_bshare{z-index:10001;display:none;position:absolute;width: 160px;color: rgb(165, 165, 165); text-decoration:none;font: 13px/18px "宋体";padding: 0px 5px 15px;top: 28px;right: 0px;border: 1px solid #353535;background-color: #2C2C2C;border-radius: 5px;box-shadow: 1px 1px 5px 0px black;}
.info_title .info_tool .tl_bshare #bShareZXM a{margin: 7px 0px 0px 7px;display: inline-block;box-shadow: 1px 1px 3px 0px black;}
.info_title .info_tool .tl_bshare #bShareZXM a:hover{opacity:0.8;}
.info_content{margin-top:20px;width:100%; text-align:center; position:relative;}
.info_content a{width: 350px;
top: 0;
z-index: 10;
position: absolute;z-index: 10000;height: 100%;display: block;}
.info_content a.btn_prev{left: -20px;cursor: url(http://www.tliangl.com/i/resource/btn_prev.cur),auto;}
.info_content a.btn_next{right: -20px;cursor: url(http://www.tliangl.com/i/resource/btn_next.cur),auto;}

.info_content div{width: 100%;position:absolute;top:0px;left:0px;z-index: 1000;}
.info_content div.next{display:none;}
.info_content div.temp{position:relative;opacity:0;}
.info_content div img{max-width: 100%;margin: 0 auto;z-index: 1000;box-shadow: 5px 5px 15px 0px black;}


#imgList{width:260px;padding:0px 10px;border: 1px solid #303030; margin-top: 25px; position:relative;}
#imgList h2{color: #CACACA;font-size: 15px;font-family: 微软雅黑;margin: 5px;}
#imgList h2 span{display: inline-block;height: 21px;width:25px;background-image: url(../i/ico_all.png);background-position: -1122px -95px;}
.panel_tool{line-height:30px;height:30px;width:70px;position:absolute;top:10px;right:10px;}
.panel_tool a{width: 25px;height: 20px;background-image:url("../i/ico_all.png");display:block;float:right;border: 1px solid #2B2B2B;background-color: rgb(37, 37, 37);border-radius:3px;-webkit-transition: all 0.5s ease 0s;font-size: 13px;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.panel_tool a.prev{background-position:-233px -49px;}
.panel_tool a.prev.c{background-position:-232px -99px;}
.panel_tool a.prev:hover,.panel_tool a.next:hover{opacity:0.7}
.panel_tool a.next{background-position:-197px -49px;}
.panel_tool a.next.c{background-position:-196px -99px;}

#imgList .list{height:260px;width:260px;overflow: hidden;position:relative;margin-bottom:10px;}
#imgList .list .scorllList{width:260px;height:auto;position:absolute;top:0px;left:0px;}
#imgList .list a{width:70px;height:70px;padding:3px;display:block;float:left;border: 1px solid #363636;margin: 4px;opacity:0.8;box-shadow: 2px 2px 5px 1px black;}
#imgList .list a:hover{opacity:1;box-shadow: 2px 2px 5px 0px black}
#imgList .list a span{display: block;width:70px;height:70px;
background-repeat: no-repeat;
background-position: 50% 25%;}


#imgOther{width:260px;padding: 0px 10px 10px;border: 1px solid #303030; margin-top: 25px;}
#imgOther h2{color: #CACACA;font-size: 15px;font-family: 微软雅黑;margin: 5px;}
#imgOther h2 span{display: inline-block;height: 20px;width:25px;background-image: url(../i/ico_all.png);background-position: -988px -95px;}
#imgOther .list{}
#imgOther .list a{width:70px;height:70px;padding:3px;display:block;float:left;border: 1px solid #363636;margin: 4px;opacity:0.8;box-shadow: 2px 2px 5px 1px black;}
#imgOther .list a:hover{opacity:1;box-shadow: 2px 2px 5px 0px black}
#imgOther .list a span{display: block;width:70px;height:70px;
background-repeat: no-repeat;
background-position: 50% 25%;}


#topicOther{width:260px;padding:0px 10px;border: 1px solid #303030; margin-top: 25px;}
#topicOther h2{color: #CACACA;font-size: 15px;font-family: 微软雅黑;margin: 5px;margin-bottom: 10px;}
#topicOther h2 span{display: inline-block;height: 20px;width:25px;background-image: url(../i/ico_all.png);background-position: -1088px -95px;}
#topicOther .item{clear:both;width:260px;height:22px;padding:0px 0px;margin:0px;margin-top:5px;font-size:13px; text-align:left;background1:url(../i/bg_ico.png) no-repeat left -46px;}
#topicOther .item .topic_num{width:20px;font-family:Gabriola;font-size:40px;float:left;margin:0px;padding:0px;
background-image: url(../i/nav_x.png);height:20px;
background-position: -150px -122px;}
#topicOther .item .topic_content{width:240px;float:left;margin:0px;padding:0px;}
#topicOther .item a{color: #B3B3B3;height:13px;overflow:hidden;text-overflow:ellipsis;display:block;white-space: nowrap;}
#topicOther .item a:hover{color:#5CCA2F;}