body{background:url(../i/m/wavegrid.png) repeat left top;}
.link_logo{color: #FFFFFF;font-size: 13px;margin: 6px 10px 15px;display: inline-block;text-decoration: none;background-color: #61A0FF;padding: 5px 13px;border-radius: 3px;}
.link_logo:hover{background-color:Orange;}
.chart-center{width: 100%;min-height: 600px;position:relative;overflow:hidden;}
.chart-center .chart-refresh{display: block;
position: absolute;
width: 40px;
height: 40px;
top: 465px;
left: 2px;
background-image: url(../i/make/bg-refresh.png);
background-color: white;
background-repeat: no-repeat;
background-position: 0px 0px;
box-shadow: 2px 2px 3px 0px #AFAFAF;}
.chart-center .chart-refresh:hover{opacity:0.7;}
#chart{width: 100%;height: 450px;}
.chart-tool{

width: 97%;
padding: 8px;
margin-top: 70px;left: 02px;
background-color: white;
box-shadow: 2px 2px 3px 0px #AFAFAF;}
.chart-tool a{padding: 7px 30px;
background-color:  rgb(38, 209, 38);
color: white;
display: inline-block;font-size: 13px;border-radius: 2px;margin-left: 10px;cursor:pointer;}
.chart-tool a.n{background-color:#F1F1F1;color:dimGray;}
.chart-tool a:hover:{opacity:0.8;text-decoration:none;}
