.forum{width:150px;border: 1px solid #CCCCCC;border-top:0;height: auto;margin-top: 0px;margin-top:5px;float:left;background-image: url("../i/blog/bg-p-2.png");background-repeat: repeat-x;}
.forum .title{background:url("../i/blog/ico-p-title.gif") no-repeat scroll 5px 4px transparent;font-size: 12px;font-weight: bold;padding-left: 10px;padding-top: 5px;height:24px;font-weight:bold;border-top:1px solid #9eb7d6;border-bottom:1px solid #9eb7d6;border-right:0;text-align:left;padding-left:30px;}
.forum .list{}
.forum .list li{height:15px;clear:both;padding:15px;border-bottom:1px dashed #cccccc;background-color:#fff; text-align:center;}
.forum .list li:hover{background-color:#f8f8f8;}
.forum .list li a{font-size:13px;font-weight:bold;}
.forum .list li span{ color: orange;float: right;font-family: ºÚÌå;font-size: 13px;margin-right: 5px;}

.topic{width:860px;border: 1px solid #CCCCCC;height: auto;margin-top:5px;margin-left:10px; float:left;background-color:White;}
.topic .forum-msg{border-bottom:1px solid #cccccc;height:100px;}

.topic .toolbar{height:40px;}
.topic .toolbar .add{background:url("../i/blog/bg-add.png");background-repeat:no-repeat;width:90px;height:29px;float:left;background-position:0px -1px; border: 0 none;padding-left:20px;cursor:pointer;color:Gray;font-weight:bold;}
.topic .toolbar .add:hover{background-position:0px -55px;color:Black;}
.topic .toolbar .pagediv{float:right;margin-top:5px;margin-right:5px;}
.topic .tb_header{height:30px;border-bottom:2px solid #f2f2f2;width:860px;background-color:whiteSmoke;}
.topic .tb_header .sort{padding-top: 10px;float:left;}
.topic .tb_header .sort li{width: 50px;height:20px;margin-bottom:-2px;float:left;padding-left:20px;cursor:pointer;}
.topic .tb_header .sort li.curr{border-bottom:2px solid gray;}
.topic .tb_header .column{float:right;margin-right:10px;magin-top:10px;width:85px;margin-top:8px;}



.topic .list{}
.topic .list li{height:50px;clear:both;padding:5px;}
.topic .list li.slide{background-color:whiteSmoke;}
.topic .list li .l_1{margin-top:10px;float:left;background-image: url("../i/blog/bg-reply-num.png");background-repeat:no-repeat;width:55px;height:23px; font-family: ºÚÌå;font-size: 14px; text-align:center;padding-top:2px;}
.topic .list li .l_2{margin-top:10px;float:left;width:600px;padding-left:10px;}
.topic .list li .l_2 .forum-name{color:#007CD5;font-size:13px;font-weight: 400;}
.topic .list li .l_2 .title{color:#1D53BF;font-weight:bold;font-size:15px;}
.topic .list li .l_2 .title:hover{color:orange;}
.topic .list li .l_2 .content{color:gray;}
.topic .list li .l_3{margin-top:10px;float:left;width:100px;}
.topic .list li .l_3 .name{color:gray;color:Gray;margin-top: 3px;}
.topic .list li .l_4{margin-top:10px;float:left;width:70px;}